<ion-content>
  <div class="page__login h-100 bg__image">
    <div class="ui__view__block">
      <div class="content__centered p-0">
        <div class="login-wrapper">

          <div class="header">
            <h2>Lo Resolveremos</h2>
            <h6>Ingresa tu correo electrónico registrado</h6>
          </div>

          <ion-card>
            <ion-item>
              <ion-input placeholder = "Correo" [(ngModel)]="correo"></ion-input>
            </ion-item>
          </ion-card>

          <div class="ion-padding">
            <ion-button expand="block" shape="block" (click)="redirect()">Recuperar</ion-button>
          </div>

          <div class="footer">
            <div class="links">
              <p>¿No tienes cuenta? <a routerLink="/type-of-register" routerDirection="root">Regístrate</a></p>
              <p>¿Recordaste tu contraseña? <a routerLink="/login" routerDirection="root">Inicia Sesión</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</ion-content>
