<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300913221142-ul180e4bu3cnq8iejl1k5reqfgqar7vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300913221142-ul180e4bu3cnq8iejl1k5reqfgqar7vp</string>
	<key>API_KEY</key>
	<string>AIzaSyDEcgwWRwZizDBzPC3pZJsuwon75-51f-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>300913221142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ec.ups.medicite</string>
	<key>PROJECT_ID</key>
	<string>mediciteapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mediciteapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300913221142:ios:24661efb09770715b69f37</string>
	<key>DATABASE_URL</key>
	<string>https://mediciteapp.firebaseio.com</string>
</dict>
</plist>