<ion-header>
  <ion-toolbar>
    <ion-title>Seleccione el medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

  
    <ion-item>
      <ion-label>Medicamento</ion-label>
      <ion-select [(ngModel)]="medicamentoSelected" (ionChange)="onChange()" interface="action-sheet" placeholder="Seleccione Uno">
        <ion-select-option *ngFor="let medicamento of medicamentos | async" [value]="medicamento">
          
          <!--  
          <ion-avatar slot="start">
            <img [src]="user.image.url">
          </ion-avatar>
          -->

          <h3>{{medicamento.nombre}}</h3>
          <p>{{medicamento.concentracion}} </p>
          
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Dosis</ion-label>
      <ion-input type="text" required [(ngModel)]="md.dosis"></ion-input>
    </ion-item>

  
  

    
  </ion-list>

  <ion-button (click)="createMediDetalle()" type="submit" expand="full" fill="outline">Guardar</ion-button>

</ion-content>
