<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar medicamento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="full">
    <ion-item *ngIf="medicamento">
      <ion-input required type="text" placeholder="Task" [(ngModel)]="medicamento.nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="medicamento">
      <ion-input required type="number" placeholder="Priority" [(ngModel)]="medicamento.concentracion"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveMedicamento()">Save</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger"  routerLink="listar-medicamento" routerDirection="forward">
          <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>