<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="correo"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" shape="block" (click)="redirect()">Iniciar Sesion</ion-button>
    </div>


  </ion-list>
</ion-content>
