<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>
        Seleccione el área junto con el médico disponible
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Área & Médico</ion-label>
      <ion-select interface="action-sheet" placeholder="Seleccione Uno">
        <ion-select-option *ngFor="let medico of medicos | async">
          
          <!--  
          <ion-avatar slot="start">
            <img [src]="user.image.url">
          </ion-avatar>
          -->

          <h3>{{medico.especialidad}}, Dr(a).</h3>
          <p>{{medico.nombre}} </p>
          <p>{{medico.apellido}}</p>
        </ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-list-header>
      <ion-label>
        Seleccione la fecha y hora para su consulta
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha & Hora</ion-label>
      <ion-datetime [(ngModel)]="consulta.fecha" displayFormat="D MMM YYYY H:mm" [min]="fechamin" [max]="fechamax"></ion-datetime>
    </ion-item>
  
  </ion-list>

  <ion-button (click)="createConsulta()" type="submit" expand="full" fill="outline">Siguiente</ion-button>

</ion-content>
