<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>
        Seleccione el área junto con el médico disponible
      </ion-label>
    </ion-list-header>
  
    <ion-item *ngFor="let medico of medicos">
      <ion-label>Área & Médico</ion-label>
      <ion-select interface="action-sheet" placeholder="Select One">
        <ion-select-option>
          <h3>{{medico.especialidad}}</h3>
          <p>{{medico.nombre}}</p>
          <p>{{medico.apellido}}</p>
        </ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-list-header>
      <ion-label>
        Seleccione la fecha y hora para su consulta
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha & Hora</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" min="1997" max="2010" value="2005-06-17T11:06Z"></ion-datetime>
    </ion-item>
  
  </ion-list>

</ion-content>
