<div class="page__inner h-100">
  <div class="login-wrapper">
    <div class="header">
      <h2>Crear cuenta</h2>
     
    </div>
    <form [formGroup]="loginCredentialForm" novalidate (ngSubmit)="onSubmit(loginCredentialForm)">
      <div class="input-row anim">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label class="cff">Cédula</mat-label>
          <input matInput placeholder="Ingrese su número de cédula" type="text" class="cff" autocomplete="off"
            formControlName="userId">
          <mat-hint class="cff"></mat-hint>
        </mat-form-field>
      </div>

        <div class="input-row anim">
          <mat-form-field appearance="outline" class="d-block">
            <mat-label class="cff">Nombre</mat-label>
            <input matInput placeholder="Ingrese sus nombres" required type="text" class="cff" autocomplete="off"
            formControlName="userId">
            <mat-hint class="cff"></mat-hint>
          </mat-form-field>
        </div>

  
          <div class="input-row anim">
            <mat-form-field appearance="outline" class="d-block">
              <mat-label class="cff">Apellido</mat-label>
              <input matInput placeholder="Ingrese sus apellidos" required type="text" class="cff" autocomplete="off"
              formControlName="userId">
              <mat-hint class="cff"></mat-hint>
            </mat-form-field>
          </div>

      
      <div class="input-row anim">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label class="cff">Correo electrónico</mat-label>
          <input matInput placeholder="Your Email Address" type="text" class="cff" autocomplete="off"
            formControlName="userId">
          <mat-hint class="cff">{{emailErrMsg}}</mat-hint>
        </mat-form-field>
      </div>


      
      <div class="input-row anim mb">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label class="cff">Contraseña</mat-label>
          <input matInput placeholder="Choose password" required [type]="pwHidden ? 'password' : 'text'" class="cff"
            formControlName="pw">
          <mat-icon matSuffix (click)="pwHidden = !pwHidden">{{pwHidden ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-hint class="cff">Al menos 8 caracteres. Con mayúsculas, minúsculas, caracteres especiales y número</mat-hint>
        </mat-form-field>
      </div>



      
      <div class="input-row anim">
        <button class="btn__signin loading-btn" [class.loading]="formSubmitted" type="submit"
          [disabled]="!loginCredentialForm.valid || formSubmitted">Siguiente</button>
      </div>
    </form>
    <div class="footer anim">
      <div class="links">
        <p>Didn't get OTP? <a class="clickable">Resend</a></p>
      </div>
    </div>
  </div>
</div>