<nav>
  <button (click)="switchTabs('home', 1)" [class.current]="selectedTab === 1">
    <ion-icon ios="ios-home" md="md-home"></ion-icon>
    <span class="text">Inicio</span>
  </button>
  <button (click)="switchTabs('schedule', 2)" [class.current]="selectedTab === 2">
    <ion-icon ios="ios-calendar" md="ios-calendar"></ion-icon>
    <span class="text">Calendario</span>
  </button>
  <div class="special">
    <button (click)="callSylvie()"></button>
  </div>
  <button (click)="switchTabs('mailbox', 3)" [class.current]="selectedTab === 3">
    <ion-icon ios="md-people" md="md-people"></ion-icon>
    <span class="text">Pacientes</span>
  </button>
  <button (click)="switchTabs('notifications', 4)" [class.current]="selectedTab === 4">
    <ion-icon ios="md-notifications-outline" md="md-notifications-outline"></ion-icon>
    <span class="text">Notificaciones</span>
  </button>
</nav>