<ion-content>
  <div class="page__login h-100 bg__image">
    <div class="ui__view__block">
      <div class="content__centered p-0">
        <div class="login-wrapper">

          <div class="header">
            <h2>Excelente</h2>
            <h6>¿Qué tipo de usuario deseas crear?</h6>
          </div>

          <div class="ion-padding">
            <ion-button expand="block" shape="block" (click)="redirectPaciente()">Paciente</ion-button>
          </div>

          <div class="ion-padding">
            <ion-button expand="block" shape="block" (click)="redirectMedico()">Medico</ion-button>
          </div>

          <div class="footer">
            <div class="links">
              <p>
                ¿Olvidaste tu contraseña? <a routerLink="/reset-password" routerDirection="root">Recuperar Contraseña</a>
              </p>
              <p>¿Tienes una cuenta? <a routerLink="/login" routerDirection="root">Inicia Sesión</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
            
</ion-content>

